<div class="course-card" *ngIf="data"
     [ngClass]="cardClasses()">
    <div class="course-title"> {{'so thu tu:'+ idx +'Ma Id:' + data?.id}} </div>
    <!-- *ngIf = true -> show, false -> hide -->
    <img width="300" alt="Angular Logo" *ngIf="!isImageEmpty() else noImage " src="{{data.iconUrl}}">

    <ng-template #noImage>
        <p>No available Image</p>
    </ng-template>

    <div [ngSwitch]="data.lessonsCount">
        <div  *ngSwitchCase="data.lessonsCount>=10"><p>Bai hoc>10</p></div>
        <div  *ngSwitchCase="data.lessonsCount<10">Bai hoc nho hon 10  </div>
    </div>

    <div class="course-category" [ngSwitch]="data.category">
        <div class="category" *ngSwitchCase="'BEGINNER'"><p>BEGINNER</p></div>
        <div class="category" *ngSwitchDefault><p>All level</p></div>

    </div>

    <div class="course-description">{{ data?.description }}</div>
    <button (click)="courseView()"> View Course </button>
</div>
<hr>