<ng-container *ngIf="data">
    <div class="course-card" [ngClass]="cardClasses()">
        <div class="course-title" *ngIf="idx!=null else noStt"> {{'so thu tu:'+ idx +' Ma Id:' + data?.id}} </div>

        <ng-template #noStt>
            <div class="course-title">{{'Ma Id:' + data?.id}} </div>
        </ng-template>

        <!-- *ngIf = true -> show, false -> hide -->
        <img width="300" alt="Angular Logo" *ngIf="!isImageEmpty() else noImage " src="{{data.iconUrl}}">

        <ng-template #noImage>
            <p>No available Image</p>
        </ng-template>

        <ng-container [ngSwitch]="data.lessonsCount">
            <div>
                <div *ngSwitchCase="data.lessonsCount>=10">
                    <p>Bai hoc>10</p>
                </div>
                <div *ngSwitchCase="data.lessonsCount<10">Bai hoc nho hon 10 </div>
            </div>
        </ng-container>

        <ng-container [ngSwitch]="data.category">
            <div class="category" *ngSwitchCase="'BEGINNER'">
                <p>BEGINNER</p>
            </div>
            <div class="category" *ngSwitchDefault>
                <p>All level</p>
            </div>
        </ng-container>

        <div class="course-description">{{ data?.description }}</div>
        <button (click)="courseView()"> View Course </button>
    </div>
</ng-container>