<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="course">
  <app-course-card (courseCelected)="OnCourseSelected($event)" (courseCelected1)="OnCourseSelected1($event)" [data]="course"  [data1]="xinchao2"></app-course-card>
  <hr>
  <app-course-card [data]="rsjsCourse"  (courseCelected)="OnCourseSelected($event) "[data1]="xinchao2"></app-course-card>
  <hr>
  <app-course-card  [data]="ngrxCourse" (courseCelected)="OnCourseSelected($event)"  [data1]="xinchao2"></app-course-card>
</div>